.inlineBlock {
    display: inline-block;
 }
    /* C */
 .imgSize1{
    height: 180px;
    width:  190px
}
    /* GIF */
 .imgSize2{
     height: 140px;
     width:  140px;
     margin-bottom: 15px;
 }
    /* VID */
 .imgSize3{
    height: 150px;
    width:  170px;
    margin-bottom: 15px;
}

.margin1{
    margin-left: -10px;

 }
 
.margin2{
    margin-left: -75px;

 }

.margin3{
    margin-left: -10px;

 }

.text{
    color: rgba(40, 201, 40, 0.801);
}
 /* media queries */

 @media screen and (max-width: 480px) {
    /* C */
    .imgSize1{
        height: 120px;
        width:  120px;
        margin-bottom: 15px;

    }
        /* GIF */
     .imgSize2{
         height: 110px;
         width:  110px;
         margin-bottom: 15px;
     }
        /* VID */
     .imgSize3{
        height: 110px;
        width:  120px;
        margin-bottom: 15px;
    }


    /* margins */
    
    .margin1{
        margin-left: -35px;
    
     }
    .margin2{
        margin-left: -45px;
    
     }
    
    .margin3{
        margin-left: -10px;
    
     }
     .typical{
         font-size: x-large
     }
 }